<!-- <div class="text-layout">
  <h1>{{ nombre | titlecase }}</h1>
  <h1>{{ valor | number }}</h1>

  <button
    pButton
    (click)="cambiarNombre()"
    class="p-button-help"
    icon="pi pi-bell"
    label="Cambiar nombre"
  ></button>
  <button
    pButton
    label="Descargar para iOS"
    style="background-color: beige; color: #383838"
    icon="pi pi-apple"
    iconPos="left"
  ></button>
  <button
    pButton
    label="Descargar para Android"
    class="p-button-success"
    icon="pi pi-android"
    iconPos="left"
  ></button>
</div>
<div>
  <p-card [header]="nombre | titlecase" subheader="Android Studio">
    El CardView funciona para mostrar informacion en Android Studio durante el
    desarrollo de una app
  </p-card>
</div> -->
<app-menu></app-menu>
<router-outlet></router-outlet>
